@charset "utf-8";
body {
    font: 18px/1.8 Lato;
    background-color: #42413C;
    color: #000;
}

ul,
ol,
dl {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Karla';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px;
}

a img {
    border: none;
    max-width: 100%;
}

a:link,
a:visited {
    color: #0B486B;
}

#wrapper {
    margin: 0 auto;
    width: 100%;
    background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/symphony.png');
}

header {
    background-color: #fff;
    background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/symphony.png');
    overflow: hidden;
}

header h1 {
    margin: 0;
    font-size: 8vm;
}

img {
    max-width: 100%;
    height: auto;
}

header img {
    float: left;
    margin-right: 10px;
}

nav {
    clear: left;
    float: left;
    width: 100%;
}

nav ul {
    list-style: none;
}

nav ul li {
    background-color: rgba(255, 255, 255, 0.80);
    margin-bottom: 3px;
    font-size: 16px;
}

nav ul a:link,
nav ul a:visited {
    padding: 5px 5px 5px 15px;
    display: block;
    width: 100%;
    color: #666;
}

nav ul a:hover,
nav ul a:active,
nav ul a:focus {
    background-color: #666;
    color: #FFF;
}

article {
    padding: 0;
    float: left;
    background-color: #FFFFFF;
    max-width: 100%;
}

article h1 {
    font-size: 3em;
}

article h2 {
    font-size: 2em;
    margin-bottom: 0;
    color: #06b0c9;
}

aside {
    float: right;
    background-color: rgba(255, 255, 255, 0.8);
    color: #666;
    padding: 10px 0;
    max-width: 100%;
}

aside h1 {
    font-size: 2em;
}

section {
    margin-bottom: 55px;
}


footer {
    padding: 10px 0;
    background-color: #42413C;
    clear: both;
    text-align: center;
    color: white;
}


.promise-container {
    display: inline-block;
    width: 33%;
    min-width: 200px;
    height: 200px;
    background: url('images/circle.jpg');
    background-size: 175px 175px;
    background-repeat: no-repeat;
    background-position: center;
}

.has-inline-elements {
    font-size: 0px;
}

.promise {
    width: 100%;
    height: 100%;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    flex-direction: row;
    color: white;
    font-size: 16px;
}

.fancybox-title {
    font: 18px/1.6 lato;
    text-align: center;
}

.rotate-img img {
    transform: rotate(-11deg);
    max-width: 100%;
    padding: 10%;
}
